@media only screen and (max-width: 900px) {
    .lottie-image {
      display: none;
    }
  }

.pos{
  position: sticky !important;
  top: 0 !important;
  z-index: 100;
}

/* -------------Product View page ------------------- */

.product-page{
  display: flex;
  flex-direction: row;
  margin: 50px;
  gap: 50px;
  justify-content: center;
}

@media only screen and (max-width:900px) {
  .product-page{
    display: flex;
    flex-direction:column;
    margin: 50px;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
}

/* ------------Product Search data page---------------- */

.list-prod{
  display: flex;
  flex-direction:row;
}

@media only screen and (max-width:900px) {
  .side-search{
  display: none;
  }
}